@charset "UTF-8";

.expander {
  position: relative;
}

.expander > label {
  cursor: pointer;
}

.expander > input[type=checkbox] {
  display: none;
}

.expander > input[type=checkbox] + label {
  color: gray;
  text-align: left;
  line-height: 9px;
  border: 2px solid gray;
  border-radius: 9px;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom: 1px;
}

.expander > input[type=checkbox]:not(:checked) + label {
  display: inherit;
}

.expander > input[type=checkbox]:checked + label {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.expander > input[type=checkbox] + label:after {
  font-size: 18px;
  content: "◂";
}

.expander > input[type=checkbox]:checked + label:after {
  font-size: 18px;
  content: "◂";
}

.expander > input[type=checkbox]:not(:checked) ~ * {
  display: none;
}

.expander > input[type=checkbox]:checked ~ * {
  top: 0;
  left: 0;
}

.expander.sidebar > input[type=checkbox]:checked ~ * {
  float: right;
  display: block;
  height: 100%;
}

.expander.modal > input[type=checkbox]:checked ~ * {
  position: fixed;
  left: 50%;
  top: 50%;
  overflow: auto;
}

.expander.dropdown > input[type=checkbox]:checked ~ * {
  position: absolute;
}