/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 10px 0 10px 0;
}

body {
  font-family: sans-serif;
}

div {
  padding: 0;
  margin: 0;
}

img.bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
}

ol {
  padding: 0;
}

.thumb {
  display: inline-block;
}

a {
  text-decoration: none;
}

.thumb,
.thumb > img {
  height: 25px;
  width: 25px;
  border-radius: 3px;
}

.link, .linklike, .tool {
  font-size: 14px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: inherit;
  color: gray;
}

.tool {
  display: inline-block;
  font-size: 14px;
  width: 12px;
  text-align: center;
}

.link:hover, .tool:hover {
  color: black;
}

#content {
  padding-top: 40px;
}

li {
  list-style: none;
}

.lists {
}

.list {
  vertical-align: top;
  display: inline-block;
  background: #DCDCDC;
  border: 1px solid #EEF3F6;
  border-radius: 5px;
  width: 200px;
  position: relative;
  margin: 10px 5px;
}

.hidden {
  display: none;
}

p {
  font-size: 12px;
}

.modal-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}

.dialog {
  margin: auto;
  margin-top: 150px;
}

input.fill-in {
  border: none;
  font-size: inherit;
  background: inherit;
  border-bottom: 1px dotted black;
}

input.fill-in:focus {
  border-bottom: 1px solid black;
}
