.cards {
  padding: 10px 0;
  background: blue;
}

.cards > .card > h4 {
  font-size: 14px;
}

div.card-tools {
  float: right;
}

div.card-tools > a {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.card {
  background: #fff;
  border: #D2D2D2;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  min-height: 30px;
}

.card.dragover {
  border: 1px dotted red;
}

li.card {
  position: relative;
}