.cards > .card > h4 {
  font-size: 14px;
}

div.card-buttons > button {
  background: none;
  border: none;
}

.card {
  background: #fff;
  border: #D2D2D2;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}