.list {
  padding: 5px;
}

.list > h3 {
  display: inline;
  font-size: 18px;
}

.list > input[type=checkbox] + div {
  position: absolute;
  top: 5px;
  right: 5px;
}

.list > input[type=checkbox] + div > label:hover {
  border-color: black;
  color: black;
}

.list .add {
  display: block;
  margin-top: 10px;
  color: gray;
  padding: 2px;
  text-decoration: none;
  cursor: pointer;
}

a.add:hover {
  color: black;
}