.lists > .list {
  padding: 5px;
}

.lists > .list > h3 {
  display: inline;
  font-size: 18px;
}

.lists > .list > input[type=checkbox],
.lists > .list > input[type=checkbox] + label {
  float: right;
}

.lists > .list > input[type=checkbox] + label:hover {
  border-color: black;
  color: black;
}

a.add {
  display: block;
  margin-top: 10px;
  color: gray;
  padding: 2px;
  text-decoration: none;
  cursor: pointer;
}

a.add:hover {
  color: black;
}