<div class="toggler sidebar">
  <input id="sidebar-expand" type="checkbox" checked>
  <label for="sidebar-expand" class="arrow"></label>
  <div class="content on">

    <div class="members">
      <h4>Members</h4>
      <ol>
      </ol>
      <button>&#9863; Add Members...</button>
    </div>
    <hr>
  </div>
</div>
<h2><%= model.escape('title') %></h2>
<ol class="lists">
</ol>
