<h2 id="your-boards">
  Your Boards
  <div id="plus-board" class="toggler">
    <input id="add-board" type="checkbox">
    <label for="add-board" class="add off link">
      &#10010;
    </label>
    <form class="on">
      <input name="title" type="text" placeholder="Title">
      <button class="link">Create</button>
      <label for="add-board" class="link">Cancel</label>
    </form>
  </div>
</h2>

<ol class="boards">
</ol>

