<div class="card-buttons">
  <button class="edit-card">✎</button>
  <button class="delete-card">X</button>
</div>
<h4><%= model.escape('title') %></h4>
<ol class="items"></ol>
<ul class="members">

</ul>