<div class="card-tools">
  <a class="edit">✎</a>
  <a class="delete">X</a>
</div>
<h4><%= model.escape('title') %></h4>
<p><%= model.escape('description') %></p>
<ol class="items"></ol>
<ul class="members">

</ul>