<div class="card-tools">
  <label class="tool edit" for="toggle-modal">✎</label>
  <a class="tool delete">✕</a>
</div>
<h4><%= model.escape('title') %></h4>
<p><%= model.escape('description') %></p>
<ul class="members">

</ul>