<ol>
  <li class="thumb link">
    &#10010;
    <ol class="popup">
      <% var available = model.collection.owner.collection.owner.members().models.filter(function (member) {
      return !model.members().findWhere({ id: member.id });
    });%>
      <% available.forEach(function (member) { %>
        <li class="thumb" data-id="<%= member.id %>">
          <form>
            <button>
              <input name="user_id" type="hidden" value="<%= member.id %>">
              <img src="<%= member.escape('gravatar_url') %>">
            </button>
          </form>
        <li>
      <% }); %>
    </ol>
  </li>
</ol>